# Engedélyezzük az URL átírást
RewriteEngine On

# Ha a kért fájl vagy könyvtár létezik, ne írd át
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Minden más kérést az index.php-nek továbbítunk
RewriteRule ^(.*)$ api.php?path=$1 [L,QSA]

# Alapértelmezett fájlok betöltése
DirectoryIndex login.html

# XAMPP alatt engedélyezzük a hozzáférést
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>